body {
  background-image: url('./wall.jpg');
  font-family: 'Rocher';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
}


@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
  font-family: 'Rocher';
  font-size: 50px;
}



@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mint {
  font-palette: --Mint;
}





.drag-container {
  margin: 20px 0 20px 20px;
  width: 1500px;
  display: flex;
  flex-direction: column; /* Updated */
  align-items: flex-start;
  height: 100%;
  padding: 20px;
}
.content-container {
  display: flex;
  flex-direction: row; /* Updated */
  align-items: flex-start;
}
.content-container > p {
  flex: 1;
}


.dropzone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
  height: 200px;
  margin: 0 auto;
  border: 2px dashed #5f1be6;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


.dropzone p {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
}

.dragging .dropzone {
  border-color: #00bfff;
  background-color: rgba(0, 191, 255, 0.1);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

img {
  width: 250px;
  height: 160px;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 191, 255, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 191, 255, 0.8);
}

.image-frame {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image {
  margin: 0 auto;
  border: 1px solid #543ad7;
  border-radius: 10px;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

/* Sidebar.css */
.sidebar {
  flex: 1;
  height: calc(100vh);
  background-color: #3221c9;
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 2rem;
}

.sidebarTitle {
  font-size: 0.9rem;
  color: rgb(22, 11, 11);
  background-color: #391dda;
  padding: 10px;
}

.sidebarList {
  list-style: none;
  padding: 0.5rem;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(212, 209, 235);
}



/* Sidebar 구현 */
.container {
  display: flex;
}

Sidebar {
  flex: 1;
  flex-direction: 'row';
}

Main {
  flex: 4;
  flex-direction: 'row';
}

.parent{
  display: flex;
 justify-content: space-between;
}
.container-left{
  margin-top: 100px;
  margin-left: 100px;
  flex: 1;

  height: calc(100vh);
}
.container-right{
  margin-top: 70px;
  margin-right: 100px;
  flex: 1;

  height: calc(100vh);
}