body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 2px dashed #999;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
  font-size: 1.2rem;
  color: #999;
}

.dragging .dropzone {
  border-color: #4CAF50;
  background-color: rgba(76, 175, 80, 0.1);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

img {
  width: 300px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


/* result.css */
.image-frame {
  text-align: center;
  display: flex;
  justify-content: center;
}

.image {
  margin: 0 auto;
  border: 1px solid black;
}

/* Sidebar.css */
.sidebar {
  flex: 1;
  height: calc(100vh);
  background-color: #F4F692;

  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 2rem;
}

.sidebarTitle {
  font-size: 0.9rem;
  color: rgb(22, 11, 11);
  background-color: #FAFBC7;
  padding: 10px;
}

.sidebarList {
  list-style: none;
  padding: 0.5rem;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(212, 209, 235);
}

/* Sidebar 구현 */
Sidebar {
  flex: 1;
}

.container {
  display: flex;
}

.others {
  flex: 4;
  text-align: center;
}