.slide-bar {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.slide-container {
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.slide-item {
    flex: 1 0 0;
    height: 100%;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0 10px;
}